
/*---------reset css----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

/*-------base------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

.row
	padding: 0
	margin: 0

body {
  	overflow: auto;
  	background: #ffffff;
}

/*preloader*/

.preloader 
	display: flex
	flex-wrap: nowrap
	flex-direction: row 
	justify-content: center
	align-items: center
	position fixed 
	z-index: 50
	width: 100%
	height 110%
	margin-top: -100px
	background: #ffffff

.img-preloader
	display: flex
	flex-wrap: nowrap
	flex-direction: row 
	justify-content: center
	align-items: center
	width: auto
	height 100px


.img-preloader img   
	width 200px
	height auto


/*-----------main-------*/

header 
	width: 100%
	min-height: 100px
	background: #ffffff


.countainer-header
	position relative
	margin-top: 90px
	display flex
	flex-wrap: nowrap
	flex-direction: column
	align-items: start 
	justify-content: center

.header-tittle 
	padding: 0
	margin: 0
	display flex
	flex-wrap: nowrap
	flex-direction: column
	align-items: start 
	justify-content: center

.header-tittle h1
	font-family: 'Montserrat', sans-serif;
	font-size: 72px
	font-weight: 900
	text-align: left 
	padding 0 0 0 150px

.header-img
	padding: 0
	margin: 0

.header-img img
	width: 100% 
	height auto

nav 
	background: #ffffff


.fixed-top
	z-index: 100
	
.navbar
	background #ffffff


.navbar-brand
	min-width 20px
	height 80px

.navbar-brand img 
	width: auto
	height 100%

.navbar-nav
	margin-right: 100px

.navbar-light .navbar-nav .nav-link
	color: #000000
	padding: 0 20px
	font-family: 'Montserrat', sans-serif;
	font-size: 20px
	border-bottom: 4px solid #ffffff
	transition:  0.3s
	z-index: 40

.navbar-light .navbar-nav .nav-link:hover
	color: #000000
	border-bottom: 4px solid #A3121B


.navbar-toggler
	height 50px
	width 50px
	border none

.navbar-toggler img 
	width: 100%
	height 100%


.navbar-toggler:focus 
	border: 1px solid #000
	outline: none

.header-button-countainer
	width 100%
	z-index: 10
	display flex
	flex-wrap: nowrap
	flex-direction: column
	justify-content: center
	text-align: center
	align-items: center



.header-button 
	background: #A3121B
	color: #fff
	border-radius: 2px
	border 2px solid #A3121B
	float: right
	padding 20px 80px
	font-family: 'Montserrat', sans-serif;
	font-size: 22px
	font-weight: 700
	transition: 0.5s
	

.header-button:hover
	background: #900000
	border 2px solid #A3121B
	float: right
	transition: 0.5s

.header-button-countainer p
	font-family: 'Montserrat', sans-serif;
	font-size: 24px
	font-weight: 400
	transition: 0.5s
	margin: 10px 0
	border-bottom: 3px solid #A3121B
/*----------about--------*/

.about-us
	width: 100%
	min-height 100px
	padding: 0
	margin: 0

	

.aboutphoto
	width: 100%
	height auto
	margin: 0
	padding: 0
	background:  url('../img/about.jpg') center no-repeat;
	background-size: cover;
	

.aboutphoto  img 
	width: 100%
	height auto

.aboutinfo
	padding: 0
	margin: 0
	text-align: left 
	background: black url('../img/group.png') center no-repeat;
	background-size: cover;

.abouttext
	padding 50px 0 50px 0
	margin 0
	min-height 400px

.abouttext h2 
	font-family: 'Montserrat', sans-serif;
	font-size: 48px
	font-weight: 400
	color: #ffffff
	margin  50px 50px 50px 150px 
	padding 0

.abouttext p 
	font-family: 'Montserrat', sans-serif;
	font-size: 16px
	font-weight: 400
	line-height: 24px
	color: #ffffff
	margin  : 0 50px 10px 150px
	padding 0

/*-------product----------*/

.product-main
	width 100%
	height auto
	padding: 150px 0 100px 0
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	justify-content: center

.container-product
	width 100%
	height auto
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center


.container-product:hover  
	cursor pointer

.product
	min-width 30px
	height 400px
	overflow hidden


.product-img
	width: 20em;
	height: 20em;
	border 1px solid #aaaaaa
	overflow hidden
	padding: 0
	transition: 0.3s
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center


.product-img img 
	width 100%
	height auto
	text-align: center

.product-name
	width 100%
	height 100px
	

.product-name h3 
	width: 100%
	text-align: center
	font-family: 'Montserrat', sans-serif;
	font-size: 28px
	font-weight: 700
	line-height: 48px
	border-bottom: 2px solid #fff 
	transition: 0.3s

.container-product:hover  .product-name h3 
	border-bottom: 2px solid #A3121B
	transition: 0.3s


.container-product:hover  .product-img
	border: 1px solid #A3121B
	transition: 0.3s
/*------modal------*/
.modal-dialog
	width: 70%
	max-width 100%
	height auto
	margin 0 15%
	padding-top 40px


.modal-header
	border-bottom 0


.my-modal-title
	height: 100px
	text-align: center
	border-bottom: 0
	text-align: center

.my-modal-title h4
	font-family: 'Montserrat', sans-serif;
	font-size: 48px
	font-weight: 400
	letter-spacing: 1.2px
	line-height: 100px

.my-modal-body
	width 100%
	height auto
	padding-bottom: 20px
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	justify-content: space-around


.countainer-modal-img
	width 100%
	height auto

.countainer-modal-img img   
	width: 100%
	height auto


.countainer-modal-text 
	text-align:  justify

.countainer-modal-text p
	font-family: 'Montserrat', sans-serif;
	font-size: 16px
	font-weight: 400
	line-height: 24px
	color: #333333
	margin 0 50px 10px 50px
	padding 0


.modal-button
	padding:  0 125px

.modal-button a
	text-decoration: none


.btn-modal
	background: #A3121B
	color: #fff
	border-radius: 2px
	border 2px solid #A3121B
	margin: 10px
	float: right
	padding 15px 50px
	font-family: 'Montserrat', sans-serif;
	font-size: 18px
	font-weight: 400
	transition: 0.5s


.btn-modal:hover
	color: #ffffff
	background: #900000
	border 2px solid #A3121B
	transition: 0.3s

.btn-modal-close
	border-color: #000000
	background #000000

.btn-modal-close:hover 
	float: right
	transition: 0.3s
	background #333333
	border 2px solid #333333


.btn-modal button  
	width: 100%
	height 100%


button.close:hover
	background: #a3121b
	opacity 0

.close img 
	width: 25px
	height auto	


/*--------best-brand----*/ 

.product-brand 
	width: 100%
	height: 400px
	background: #F5F5F5
	

.product-brand-wrapper 
	width: 100%
	height: 150px
	text-align: center

.product-brand-wrapper h2
	font-family: 'Montserrat', sans-serif;
	font-size: 56px
	font-weight: 400
	line-height: 150px
	letter-spacing: 1.2px

.best-brand-img 
	width: 100%
	height: 200px
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center

.best-countainer-img
	height:  100px
	width: auto
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center


.best-countainer-img img 
	width: 100%
	height: auto


/*------------ordering-----------*/
.ordering
	width 100%
	min-height 500px
	background: #ffffff
	padding: 0

.ordering-wrapper
	width: 100%
	height: 150px
	text-align: center

.ordering-wrapper h2
	font-family: 'Montserrat', sans-serif;
	font-size: 56px
	font-weight: 400
	line-height: 150px
	letter-spacing: 1.2px


.ordering-countainer
	height: 500px
	display flex
	flex-wrap: wrap
	flex-direction:  row
	align-items: center
	justify-content: center
	margin: 100px 0




.ordering-content
	width: 100%
	height: 100%
	background: #fff




.ordering-content-countainer
	width: 100%
	height: auto
	text-align: center
	margin: 0 0 100px 0
	position ablolute


.ordering-number
	text-align: center	
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center



.ordering-content-countainer h3
	height 80px
	width 80px
	font-family: 'Montserrat', sans-serif;
	font-size: 32px
	font-weight: 700
	background: #A3121B
	color: #ffffff
	border-radius: 50%
	line-height: 80px


.ordering-content-countainer p 
	font-family: 'Montserrat', sans-serif;
	font-size: 24px
	font-weight: 400
	line-height: 48px
	letter-spacing: 1.2px
	margin: 10px 0



/*------feedback-------*/

.feedback
	width: 100%
	height: auto
	background: #000
	padding: 100px 0 100px 0
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center


.feedback-countainer
	width: 100%
	height: auto


.feedback-tittle
	width: 100%
	height: auto
	text-align: center

.feedback-tittle h2
	font-family: 'Montserrat', sans-serif;
	font-size: 56px
	font-weight: 400
	letter-spacing: 1.2px
	margin-bottom: 50px
	color #fff

.form-row>[class*=col-]
	padding: 0

.form-control
	border-radius: 2px
	border 1px solid #000
	padding: 25px 10px
.form-group
	padding: 0 0 0 10px
	margin 0 0 10px 0



.btn-feedback
	background: #A3121B
	color: #fff
	border-radius: 2px
	border 2px solid #A3121B
	float: right
	padding 15px 50px
	font-family: 'Montserrat', sans-serif;
	font-size: 18px
	font-weight: 400
	transition: 0.5s

.btn-feedback:hover
	background: #900000
	border 2px solid #A3121B
	float: right
	padding 15px 80px
	transition: 0.5s



.form-control:focus
	border 1px solid #000
	box-shadow: 0 0 0 rgba(0,0,0,0.5)



.feedback-result 
	width: 100%
	height auto
	display: none

.feedback-result p    
	padding: 10px
	color: #ffffff
	background: #a3121b


.contact 
	width 100%
	height auto
	color: #ffffff
	text-align: center
		

.contact h4  
	padding: 20px 0
	font-family: 'Montserrat', sans-serif;
	font-size: 32px
	font-weight: 700

.container-contect 
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	grid-template-rows: 1

.container-contect p     
	padding: 20px 0
	font-family: 'Montserrat', sans-serif;
	font-size: 20px
	font-weight: 700



/*----------response------*/
.response
	width: 100%
	height: auto
	background: #A3121B
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center
	justify-content: center



.response-countainer
	width: 100%
	height: 500px
	margin: 100px 0 
	padding: 0
	background: #fff


.carousel
	width: 100%
	height: 500px

	
.carousel-item-next, .carousel-item-prev, .carousel-item.active
	display: flex

.carousel-item
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center	
	justify-content: space-between


.response-info 
	width: 100%
	height: 500px
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center	
	justify-content: center

.response-text
	width: 100%
	height: auto

.response-text   
	font-family: 'Montserrat', sans-serif;
	font-size: 16px
	font-weight: 500
	line-height: 24px
	color: #000000
	padding 0 0 30px 0


.response-signature 
	text-align: center
	font-family: 'Montserrat', sans-serif;
	font-size: 24px
	font-weight: 700
	line-height: 32px
	color: #000000
	
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #A3121B;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-item::before
	width: 70px
	height: 70px
	margin: -150px 150px 50px -450px
	content: " ."
	background:  url('../img/quote.svg') center no-repeat;
	background-size: cover;
	position absolute



/*----------footer---------*/
footer 
	width: 100%
	height: 150px
	background: black
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center	
	justify-content: center

.social
	width: 100%
	height: 100%
	display flex
	flex-wrap: nowrap
	flex-direction:  row
	align-items: center	
	justify-content: center


.instagram, .facebook
	width: 45%
	height: 45%

.instagram img, .facebook img 	
	width: 100%
	height: 100%


.footer-nav 
	width: 100%
	height: 150px

.footer-menu
	float: right
	padding: 0 100px

.footer-menu li  
	display: inline
	padding: 0 20px 
	line-height: 150px


.footer-menu a	
	color: #fff
	text-decoration: none
	border-bottom: 2px solid #000000

.footer-menu a:hover
	border-bottom: 2px solid #FFFFFF





@media only screen and (min-width: 3000px) {
	.product {
		height 500px
	}
	
  .product-img {
	width 100%
	height 550px
  }

  .carousel-item::before{
	width: 70px
	height: 70px
	margin: -150px 150px 50px -600px}
}



@media only screen and (min-width: 2360px) {
	.product {
		height 500px
	}
  .product-img {
	width 100%
	height 400px
  }

  .carousel-item::before{
	width: 70px
	height: 70px
	margin: -150px 150px 50px -600px}
}





@media only screen and (max-width: 1700px) {
  .product-img {
	width 100%
	height 250px
  }
}


@media only screen and (max-width: 1630px) {
  .header-tittle h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 64px
	font-weight: 900
	text-align: left 
	padding 0 0 0 100px
  }

  .container-contect {
	display: grid
	grid-template-columns:  1fr 1fr
	grid-template-rows: 2}

}


@media (min-width: 1200px) and (max-width: 1630px) {

  .ordering-countainer .col-xl-7 {
	flex: 0 0 78.333333%;
    max-width: 78.333333%;
	  }
}



@media only screen and (max-width: 1550px) {
  .product-img {
	width 100%
	height 220px
  }
  .product-main {
	  padding: 100px 0 10px 0}

}

@media only screen and (max-width: 1400px) {
  .product-img {
	width 100%
	height 200px
  }
}


@media only screen and (max-width: 1380px) {
  .header-tittle h1{
	font-size: 56px
	font-weight: 900
	padding 0 0 0 60px
  }
  .carousel-item::before{
	width: 65px
	height: 65px
	margin: -150px 150px 50px -350px
	}

	
	.my-modal-title h4{
		font-family: 'Montserrat', sans-serif;
		font-size: 42px
		font-weight: 400
		letter-spacing: 1.2px
		line-height: 100px}

		.modal-button{
			padding:  0 100px}
}


@media only screen and (max-width: 1250px) {
  .product-img {
	width 13em
	height 10em
  }

  .product-name h3 {
	  font-size: 22px
	  }
	  
	.header-button-countainer{
		width 100%
		margin:  0
		}


	
}

@media only screen and (max-width: 1200px) {
  .navbar-nav {
     margin-right: 0; 
	}
  
  
  .header-tittle h1{
	font-size: 48px
	font-weight: 900
	padding 0 0 0 40px
  }


	 .product-img {
		width 100%
		height 9em
  }

  .product{
	height 350px}

	.countainer-modal-text p{
		margin 0 0 10px 0
		padding 0}

	.ordering-wrapper h2{
		font-size: 40px
	}

	.ordering-content-countainer p {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px
		font-weight: 400
		line-height: 40px
		letter-spacing: 1.2px
		margin: 10px 0}

	.ordering-content-countainer{
		margin-bottom: 50px
		}

	.ordering{
		min-height: 400px
		}
}


@media only screen and (max-width: 1100px) {

  .product{
	height 320px}

	.product-name h3 {
		font-size: 20px;
		}

	.my-modal-title h4{
	font-size: 32px
	font-weight: 400
	letter-spacing: 1.2px
	line-height: 100px}
}


@media only screen and (max-width: 992px) {
		

.navbar-nav{
	margin-right: 0px
	}

.navbar-light .navbar-nav .nav-link{
	padding: 10px 0
	font-size: 20px
	text-align: center
	border-bottom: 4px solid #ffffff
	transition:  0.3s}


  .header-tittle h1{
	font-size: 38px
	font-weight: 900
	padding 0 0 0 40px
  }

.header-button {
		background: #A3121B
		color: #fff
		border-radius: 2px
		border 2px solid #A3121B
		padding 12px 50px
		font-size: 18px
		font-weight: 700
		transition: 0.5s
		}

 
  .abouttext h2 {
    margin: 50px 50px 50px 50px;
	}
	.abouttext p {
    	margin: 50px 50px 50px 50px;
	}
  .product-img {
	height 220px
  }

	.product{
		height 350px}

	.product-brand {
		height: 250px
		}


	.product-brand-wrapper {
		height: 100px
}
	.product-brand-wrapper h2{
		font-size: 48px
		line-height: 100px
		}

	.best-brand-img {
		height: 130px
}

.footer-menu {
    padding: 0; 
}

}

@media only screen and (max-width: 890px) {
  .product-img {
	height 180px
  }
	.ordering-wrapper h2{
		font-size: 32px
	}

}


@media only screen and (max-width: 850px) {
  .carousel-item::before{
	width: 50px
	height: 50px
	margin: -150px 150px 50px -300px
	}

}


@media only screen and (max-width: 790px) {
  .header-tittle h1{
	font-size: 32px
	font-weight: 900
	padding 0 0 0 40px
  }

  .modal-dialog {
    width: 94%;
    max-width: 100%;
    height: auto;
    margin: 0 3%;
    padding-top: 40px;
}

}

@media only screen and (max-width: 768px) {
	.product-name h3 {
		width: 100%
		font-size: 24px
		font-weight: 700
		line-height: 32px
		border-bottom: 2px solid #fff 
		transition: 0.3s}

	.product{
		height 300px
		padding: 0}
		
	.best-countainer-img{
		padding: 0 5px 0 5px
		}
	.ordering-wrapper {
    	height: 100px;
}
	.ordering-wrapper h2{
		font-size: 32px
		line-height: 50px
		margin-top: 50px
	}
	.ordering-countainer {
    	height: 500px;
    	margin: 50px 0;
}
  .carousel-item::before{
	display none
	}
	.response-info {
	    width: 100%;
	    height: 400px;
	    
	}
	.carousel {
 	   width: 100%;
 	   height: 400px;
	}
	.response-countainer {
    	height: 400px;
    	margin: 50px 0;
	}
	footer {
		height 100px
	}
	.footer-nav{
		height 100px
	}
	  .footer-menu li {
    	line-height: 100px
	}
	

}

@media only screen and (max-width: 767px) {
	 .aboutphoto{
	  display none}
}

@media only screen and (max-width: 690px) {

  .header-tittle h1{
	font-size: 28px
	font-weight: 900
	padding 0 0 0 10px
  }

  .product-name h3 {
		font-size: 19px;
		}

  .footer-menu li {
    padding: 0 5px;
}
}

@media only screen and (max-width: 670px) {

  .product-img {
	height 150px
  }

  .my-modal-title h4 {
    font-size: 30px;
    line-height: 80px;
	}
		.modal-button {
    padding: 0 10px;
}
}

@media only screen and (max-width: 576px) {
	.header-tittle {
		height 200px
   		padding: 0 30px;
	}

	.header-tittle h1 {
		line-height: 42px;
	}

	.header-img {
		order: 3
		}
		
	

	.header-button-countainer{
		width 100%
		order 0
	}

		.header-button-countainer p {
			font-size: 18px}


	.header-button {
		background: #A3121B
		color: #fff
		border-radius: 2px
		border 2px solid #A3121B
		padding 15px 60px
		font-size: 18px
		font-weight: 700
		transition: 0.5s
		
	}

	.abouttext {
	    padding: 0;
	}
 	 .abouttext h2 {
    	margin: 20px;
	}
	.abouttext p {
    	margin: 20px;
		text-align: justify
	}
	.product-img {
		height 200px
  	}

	.countainer-modal-text {
    	padding: 0;
	}

	.my-modal-title h4 {
   	 	font-size: 24px;
   	 	line-height: 80px;
	}



	.product-brand-wrapper {
		height 50px}

	.product-brand-wrapper h2 {
   		 font-size: 32px;
   		 line-height: 50px;
	}

	.product-brand {
		height 200px
    	padding: 0;
	}
	.best-brand-img {
    	padding: 0;
	}
	.best-countainer-img {
		padding: 0 1px 0 1px}

	.ordering-countainer {
		min-height: 600px;
	}

	.ordering-wrapper h2 {
	    font-size: 28px;
	    line-height: 38px;
	    margin-top: 50px;
	}
	.ordering-content{
		padding: 0}
	.ordering-content-countainer {
		padding: 0 5px 0 5px
		margin-bottom: 20px}
	.feedback-tittle h2 {
   		 font-size: 42 px;
   		 margin-bottom: 40px;
	}
	.footer-nav {
    	padding: 0;
	}
	.footer-menu a {
   		font-size: 12px;
	}
}


@media only screen and (max-width: 500px) {
	.product-img {
		height 180px
  	}
	  .instagram, .facebook {
   		 width: 85%;
   		 height: 85%;
			padding: 0 2px
		}
	  .footer-menu li {
   		 display: block;
    	padding: 0 50px;
    	line-height: 24px;
	}
}

@media only screen and (max-width: 450px) {
	.product-img {
		height 160px
  	}
	.my-modal-title h4 {
   	 	font-size: 24px;
   	 	line-height: 38px;
	}
	 .container-contect {
	display: grid
	grid-template-columns:  1fr 
	grid-template-rows: 4}
}

@media only screen and (max-width: 400px) {
	.product {
		height 250px
		}
	
	.product-img {
		height 140px
  	}
	.product-name h3 {
    	font-size: 18px;
    	line-height: 30px;

	}
	.feedback-tittle h2 {
   		 font-size: 32 px;
   		 margin-bottom: 40px;
	}
}


@media only screen and (max-width: 360px) {
	
	.product {
		height 200px
		}
	.product-img {
		height 120px
  	}
	.product-name h3 {
    	font-size: 14px;
	}
	.ordering-countainer {
		min-height: 650px;
	}
}

@media only screen and (max-width: 315px) {
	
	.product {
		height 180px
		}
	.product-img {
		height 100px
  	}

	  .product-name{
		  padding: 0}
	.product-name h3 {
    	font-size: 15px;
	}
}

